.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 100vh; /* Ensure the container height is fixed */
    margin: auto;
    overflow: hidden;
    background-color: black; /* Optional: Add a background color for better visibility */
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Ensure the slideshow takes the full height of the container */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%; /* Ensure each slide takes the full height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure images scale to fit within the slide container */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: opacity 0.35s ease-in, transform 0.35s ease-in;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
    background-color: transparent;
    opacity: 0; /* Start with buttons hidden */
    transform: scale(1.9); /* Start with buttons slightly smaller */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    opacity: 1; /* Show buttons on hover */
    transform: scale(2); /* Scale buttons to normal size on hover */
}

.slide-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
